@layer override {

  .btn {
    white-space: nowrap;
  }


  .select:focus,
  .select:focus-within,
  .select select:focus,
  .select select:focus-visible,
  .select select:focus-within {
    outline: none;
    box-shadow: none;
  }

  .select {
    caret-color: transparent;
  }
}