@import 'tailwindcss';
@plugin "daisyui";
@import "./dark.css";


:root {
  interpolate-size: allow-keywords;
}

::details-content {
  content-visibility: visible;
  height: 0;
  transition: 0.35s;
  overflow: hidden;
}

details[open]::details-content {
  height: auto;
}
